<form #form="ngForm" (ngSubmit)="submitForm()">
  <h1>Create a Post</h1>
  <input
    type="text"
    name="title"
    required
    minlength="8"
    maxlength="32"
    placeholder="Enter post title"
    [(ngModel)]="title"
    #blogTitle="ngModel"
  />
  <br />
  <textarea
    name="body"
    required
    minlength="16"
    maxlength="100"
    placeholder="Enter post body"
    [(ngModel)]="body"
  ></textarea>
  <br />
  <input
    type="submit"
    value="Submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
  />
</form>

<!-- <div *ngIf="blogTitle.invalid && blogTitle.dirty">
  <div *ngIf="blogTitle.errors.required">
    Please provide a title for your blog post.
  </div>
  <div *ngIf="blogTitle.errors.minlength">
    The title of the blog must contain at least 8 characters.
  </div>
</div>
 -->
